<div class="container">
  <canvas id="canvas"></canvas>
  <section class="landing">
    <p class="intro">
      <span class="clip">
        <span class="name">
          <span class="hey">Hey,&nbsp;</span>
          <span class="im">I'm&nbsp;</span>
          <span class="sam">Sam</span>
        </span>
      </span>
      <br />

      <span class="clip">
        <span #jobTitle class="jobTitle">
          Software Engineer and
          <!-- <span class="breathe-animation">desiGner</span> -->
          <span>Designer</span>
        </span>
      </span>

      <span class="clip">
        <span class="about">
          I love crafting&nbsp;
          <span #engaging>engaging</span> experiences with the
          <span #users>users</span>,
          <span #businessValue>business value</span> and
          <span #codeQuality>code quality</span> at the forefront
        </span>
      </span>
    </p>

    <div class="email">
      <a class="contact" href="mailto:samalexmunro94@gmail.com">
        Say hello&#64;sammunro.com
      </a>

      <button (click)="scrollToSkills()" class="anchor-button">
        <span class="material-symbols-outlined">arrow_downward</span>
      </button>
    </div>
  </section>

  <div class="loading-background"></div>

  <!-- <app-skills id="skills"></app-skills> -->
  <app-canvas-controller></app-canvas-controller>
</div>

<!-- <app-fabric-simulation></app-fabric-simulation> -->
<!--
<app-water-blob></app-water-blob>

<app-fabric></app-fabric>-->
<!-- <section class="section">
  <div class="blob" data-speed="2.0">
    <div class="x"></div>
  </div>

  <div class="blob5" data-speed="2.4">
    <div class="x"></div>
  </div>

  <div class="blob6" data-speed="4.4">
    <div class="x"></div>
  </div>

  <div class="blob2" data-speed="1.5">
    <div class="x"></div>
  </div>

  <div class="blob3" data-speed="3.0">
    <div class="x"></div>
  </div>

  <div class="blob4" data-speed="3.3">
    <div class="x"></div>
  </div>
</section>-->
