@use 'base' as *;

@mixin fontSizeScale() {
  font-size: 1.4rem;

  @include breakpoint(382px) {
    font-size: 1.6rem;
  }

  @include breakpoint(425px) {
    font-size: 1.7rem;
  }

  @include breakpoint(600px) {
    font-size: 3rem;
  }

  @include breakpoint(800px) {
    font-size: 2rem;
  }
}

.skills {
  @include fontSizeScale();

  * {
    @include fontSizeScale();
  }
}
